# Database — Vercel Postgres (Neon) Singapore
DATABASE_URL=""
AGAPAYSTORAGE_DATABASE_URL=""

# For uses requiring a connection without pgbouncer
AGAPAYSTORAGE_DATABASE_URL_UNPOOLED=""

# Parameters for constructing your own connection string
AGAPAYSTORAGE_PGHOST=""
AGAPAYSTORAGE_PGHOST_UNPOOLED=""
AGAPAYSTORAGE_PGUSER=""
AGAPAYSTORAGE_PGDATABASE=""
AGAPAYSTORAGE_PGPASSWORD=""

# Parameters for Vercel Postgres Templates
AGAPAYSTORAGE_POSTGRES_URL=""

AGAPAYSTORAGE_POSTGRES_URL_NON_POOLING=""
AGAPAYSTORAGE_POSTGRES_USER=""
AGAPAYSTORAGE_POSTGRES_HOST=""
AGAPAYSTORAGE_POSTGRES_PASSWORD=""
AGAPAYSTORAGE_POSTGRES_DATABASE=""
AGAPAYSTORAGE_POSTGRES_URL_NO_SSL=""
AGAPAYSTORAGE_POSTGRES_PRISMA_URL=""

# Auth
AUTH_SECRET=""
AUTH_TRUST_HOST= # true or false
AUTH_URL="https://agapay-saas.vercel.app"

# Email
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="agapay.saas@gmail.com"
SMTP_PASS=""
SMTP_FROM="Agapay Support <agapay.saas@gmail.com>"

# App
NEXT_PUBLIC_APP_URL="https://agapay-saas.vercel.app"

NODE_TLS_REJECT_UNAUTHORIZED = "0";